/* ::::: http://convertdoubler.ru/clients/2crazzy123/index.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font-size: 100%; vertical-align: baseline; }
body { line-height: 1; }
ol, ul { list-style: none outside none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
@media screen and (max-width: 599px) {
}
.comment-meta-2 { color:#999; }
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('../fonts/k88pr3goawt7btt32z01mz8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('../fonts/k3k702zokiljc3wvjuplzj1r3jspcqli8jytr04nnhu.woff') format("woff");
}
@font-face {
	font-family: "Open Sans Condensed";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Condensed Bold"), local("OpenSans-CondensedBold"), url('../fonts/gk5fxslnktthtojxrkp-xh8gq1-f77-_dmylrauquhq.woff') format("woff");
}
body { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(68, 68, 68); font: 100%/100% helvetica,arial,sans-serif; margin: 0px auto; padding: 0px; }
img, embed, object, video { height: auto; max-width: 100%; max-height: 100%; }
a, a:visited, #twtr-widget-1 .twtr-tweet a { color: rgb(0, 136, 214); text-decoration: none; transition: color 0.2s ease 0s; }
a:hover { text-decoration: underline; }
a:active, a:focus { outline: medium none; }
#site { float: left; width: 100%; }
.aligncenter { display: block; margin: 0px auto; }
.fixed-nav { position: fixed ! important; z-index: 2000; }
#main-nav-wrapper { background: url('nav-bg.png') repeat-x scroll center top rgb(36, 212, 135); border-bottom: 5px solid rgb(0, 166, 214); box-shadow: 0px 4px 7px -5px rgb(85, 85, 85); float: left; position: relative; width: 100%; z-index: 2000; }
#nav { float: left; position: relative; width: 100%; }
#main-nav { margin: 0px auto; position: relative; width: 1000px; }
#main-nav ul { display: inline; float: left; padding: 0px 20px; position: relative; width: 960px; }
#main-nav ul li { display: inline; float: left; padding: 9px 20px; position: relative; transition: all 0.3s ease 0s; }
#main-nav ul li:hover, #main-nav .current-menu-item { background: url('nav-bg_001.png') repeat-x scroll center top rgb(0, 166, 214); }
#main-nav ul li a { color: rgb(255, 255, 255); font: 700 16px/16px "Open Sans Condensed",sans-serif; text-decoration: none; text-transform: uppercase; }
#main-nav ul li:hover a, #main-nav li.current-menu-item a, #main-nav li.current-post-parent a { color: rgb(255, 255, 255); }
#main-nav ul li ul { display: none; }
#main-nav ul li:hover ul { background: none repeat scroll 0% 0% rgb(0, 166, 214); border-top: 5px solid rgb(0, 166, 214); box-shadow: 0px 3px 4px -2px rgb(51, 51, 51); display: block; margin-top: 4px; padding: 5px; position: absolute; left: 0px; top: 30px; width: auto; }
#main-nav ul li:hover ul li { padding: 8px; position: relative; transition: all 0.3s ease 0s; width: 200px; }
#main-nav ul li:hover ul li:hover { background: none repeat scroll 0% 0% rgb(79, 190, 229); }
#main-nav ul li:hover ul li a { color: rgb(255, 255, 255); font: 400 12px/12px "Open Sans",sans-serif; }
#nav-mobi { color: rgb(255, 255, 255); display: none; font: bold 16px/16px Arial,Verdana,sans-serif; margin: 0px auto; padding: 0px 10px; position: relative; text-align: left; text-transform: uppercase; width: 460px; height: 38px; }
#nav-mobi a { color: rgb(255, 255, 255); }
#nav-mobi a:hover, #nav-mobi a:active { text-decoration: none; }
#nav-mobi ul { background: none repeat scroll 0% 0% rgb(0, 166, 214); display: block; float: left; position: absolute; top: 43px; left: 0px; width: 480px; }
#nav-mobi ul li { display: inline; float: left; font: 700 18px/18px "Open Sans Condensed",sans-serif; margin: 0px; padding: 10px 12px; position: relative; width: 216px; }
#nav-mobi ul li:hover { background: none repeat scroll 0% 0% rgb(79, 190, 229); }
#nav-mobi ul li ul { display: none; }
.flip { background: url('mobi-menu.png') no-repeat scroll left 50% transparent; float: left; width: 480px; height: 38px; }
.panel { display: none; }
#wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); float: left; position: relative; width: 100%; }
#inner-wrapper { margin: 0px auto; position: relative; width: 1000px; z-index: 2; }
#content { background: none repeat scroll 0% 0% rgb(255, 255, 255); float: left; padding: 20px; position: relative; width: 960px; }
#main-header-wrapper { width: 100%; height: 90px; background: url('header-bg.jpg') no-repeat scroll center center transparent; }
#header { margin: 0px auto; position: relative; width: 960px; height: 90px; }
#logo { float: left; max-width: 420px; margin: 20px auto; overflow: hidden; padding-right: 20px; }
#searchform { float: right; position: relative; border: 1px solid rgb(204, 204, 204); margin: 28px 0px 10px; }
#searchform input { border: medium none; color: rgb(119, 119, 119); float: left; font: 400 12px/30px "Open Sans",sans-serif; margin: 0px; padding: 0px 0px 0px 10px; width: auto; height: 30px; }
#searchform #search-button { background: url('search-icon.png') no-repeat scroll right 50% rgb(255, 255, 255); border: medium none; float: left; width: 36px; cursor: pointer; }
#searchform #s:focus { outline: medium none; }
#header-info { float: left; max-width: 200px; margin: 25px 0px 10px; }
#header-info h3 { color: rgb(85, 85, 85); float: left; font: 700 15px "Open Sans Condensed",serif; overflow: hidden; }
#header-info p { float: left; clear: left; font: 700 13px "Open Sans Condensed",serif; max-width: 200px; overflow: hidden; }
#main { float: left; margin-bottom: 20px; width: 640px; }
.home-widget h3, .middle-widget h3, .sidebar-widget h3, .bottom-widget h3, .widget-container h3, .multi-category h3, #related-posts h3, #ads-under h3, h3#reply-title, h2.comments { border-bottom: 1px dotted rgb(204, 204, 204); color: rgb(0, 166, 214); font: 700 14px/14px "Open Sans Condensed",sans-serif; margin-bottom: 10px; padding-bottom: 5px; text-transform: uppercase; }
ul.tabs li.active h4 a { color: rgb(0, 166, 214); }
.main-headline { color: rgb(51, 51, 51); float: left; font: 700 18px/22px "Open Sans Condensed",serif; margin-bottom: 5px; width: 100%; }
.main-headline:visited { color: rgb(51, 51, 51); }
ul.category3 li:first-child, .tabber-content ul li:first-child, .widget-content ul li:first-child { padding-top: 5px; }
ul.category3 li:nth-child(2n+2), .tabber-content ul li:nth-child(2n+2), .widget-content ul li:nth-child(2n+2) { background: none repeat scroll 0% 0% rgb(246, 246, 246); }
.image-contain { float: left; position: relative; width: 160px; height: 179px; }
.image-contain img { transition: all 0.3s ease 0s; }
.image-contain img:hover { opacity: 0.85; }
.image-box { background: url('featured-bg.png') repeat scroll 0% 0% transparent; float: left; padding: 5px; position: absolute; bottom: 0px; width: 150px; }
.image-box a { color: rgb(255, 255, 255); font: 700 12px/16px "Open Sans Condensed",sans-serif; }
.image-box a:visited { color: rgb(255, 255, 255); }
.middle-widget { float: left; font: 400 12px "Open Sans",sans-serif; margin-bottom: 20px; width: 100%; }
.middle-widget h3 { border-bottom: 1px dotted rgb(204, 204, 204); float: left; font: 700 14px/14px "Open Sans Condensed",sans-serif; margin-bottom: 10px; padding-bottom: 5px; text-transform: uppercase; width: 100%; }
ul.middle-widget { display: block; float: left; margin-top: 0px; }
ul.middle-widget li { border-bottom: 1px dotted rgb(204, 204, 204); display: block; float: left; margin: 0px; padding: 10px 0px; width: 100%; }
ul.middle-widget li:first-child { padding-top: 0px; }
ul.middle-widget li:last-child { border-bottom: medium none; padding-bottom: 0px; }
.headlines-info { color: rgb(153, 153, 153); float: left; font: 10px/10px helvetica,arial,sans-serif; margin-top: 6px; width: 100%; }
ul.headlines-info { display: inline; float: left; margin-top: 0px; }
ul.headlines-info li { border: medium none; display: inline-block ! important; float: left; margin: 0px; padding: 2px 0px 0px ! important; width: auto; }
.ratings-icon { float: left ! important; background-color: transparent ! important; margin-top: -4px ! important; width: 80px ! important; height: 18px ! important; }
.time-ago { margin-right: 10px ! important; }
.rating { color: rgb(102, 51, 51); }
#post-area { float: left; font: 14px/20px helvetica,arial,sans-serif; overflow: hidden; position: relative; width: 620px; }
#content-area img { width: auto; height: auto; }
.breadcrumb { color: rgb(136, 136, 136); float: left; font: 400 11px/11px "Open Sans",helvetica,arial,sans-serif; margin-bottom: 10px; width: 100%; }
.post-image { border: 1px solid rgb(204, 204, 204); float: right; margin: 0px 0px 10px 10px; padding: 2px; width: 300px; }
#content-area h1, #post-area h1 { color: rgb(51, 51, 51); font: 700 32px/36px "Open Sans Condensed",sans-serif; margin: 10px 0px; width: 100%; }
#content-area h4 { color: rgb(51, 51, 51); font: 700 20px/24px "Open Sans Condensed",sans-serif; margin: 10px 0px; width: 100%; }
#post-area blockquote { border-left: 1px solid rgb(204, 204, 204); color: rgb(119, 119, 119); font: italic 14px/22px Verdana,Arial,sans-serif; margin: 10px; padding-left: 20px; }
#post-area p { display: block; margin-bottom: 15px; }
#content-area { display: block; float: left; width: 100%; }
#post-info { clear: both; color: rgb(136, 136, 136); float: left; font: italic 12px/12px helvetica,arial,sans-serif; margin-bottom: 10px; position: relative; width: 620px; border-bottom: 1px dotted rgb(204, 204, 204); border-top: 1px dotted rgb(204, 204, 204); padding: 10px 0px; }
.underpost { margin: 10px 0px 0px; width: auto; }
.rating-stars { float: left; padding: 0px 0px 15px; }
.social-title { font: 700 14px/14px "Open Sans Condensed",sans-serif; margin-bottom: 10px; color: rgb(0, 166, 214); }
.comment-form-comment { display: none; }
#comments { display: block; float: left; font: 400 12px "Open Sans",sans-serif; margin-top: 40px; width: 620px; }
#comments h3 { font-size: 18px; font-weight: bold; padding-bottom: 10px; }
.comment-inner { border-bottom: 1px dotted rgb(221, 221, 221); margin-bottom: 10px; padding: 10px 0px; }
#comments .comment-inner:after { content: ""; display: block; clear: both; }
#comments .comment-avatar, #tab3 .comment-avatar { float: left; width: 46px; }
#comments .avatar { display: block; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); padding: 2px; }
#comments .commentmeta { display: block; float: left; margin: 0px 10px 10px; }
.comment-reply { background: none repeat scroll 0% 0% rgb(0, 166, 214); clear: both; float: right; font: 700 14px/14px "Open Sans Condensed",sans-serif; text-transform: uppercase; padding: 5px 10px; }
.comment-reply:hover { background: none repeat scroll 0% 0% rgb(0, 219, 134); }
.comment-reply a { color: rgb(255, 255, 255); }
.comment-reply a:hover { text-decoration: none; }
ol.commentlist { float: left; width: 100%; }
#comments .comment-meta-1 { display: block; height: 18px; margin: 0px 0px 6px; padding: 4px 0px 2px; }
#comments .comment-meta-1 .fn { font-weight: bold; float: left; width: auto; }
#comments .comment-meta-2 { font: 400 12px "Open Sans",sans-serif; display: block; margin: 0px; }
#comments .text { clear: both; display: block; }
#comments .c { line-height: 20px; }
#comments .c p, #comments .c code, #comments .c blockquote, #comments .c ul, #comments .c ol { display: block; margin: 5px 0px; }
#respond { clear: both; margin-bottom: 10px; overflow: hidden; position: relative; padding: 10px 0px; }
#respond p { font: 400 12px "Open Sans",sans-serif; margin: 0px; }
#respond .comment-notes { margin-bottom: 1em; }
#cancel-comment-reply-link { font-size: 12px; font-weight: normal; line-height: 18px; }
#respond .required { color: rgb(255, 75, 51); font-weight: bold; }
#respond label { color: rgb(136, 136, 136); font-size: 12px; }
#respond input { background: none repeat scroll 0% 0% rgb(246, 246, 246); border: 1px solid rgb(221, 221, 221); box-shadow: 2px 2px 5px 0px rgb(238, 238, 238) inset; display: block; margin: 0px 0px 9px; padding: 5px; width: auto; }
#respond textarea { background: none repeat scroll 0% 0% rgb(246, 246, 246); border: 1px solid rgb(221, 221, 221); box-shadow: 2px 2px 5px 0px rgb(238, 238, 238) inset; width: 95%; }
#respond #submit { background: none repeat scroll 0% 0% rgb(0, 166, 214); border: 0px none; box-shadow: none; color: rgb(255, 255, 255); cursor: pointer; font: 700 14px/14px "Open Sans Condensed",sans-serif; text-transform: uppercase; margin-top: 10px; padding: 5px 10px; width: 120px; }
#respond #submit:hover { background: none repeat scroll 0% 0% rgb(0, 219, 134); }
h3#reply-title, h2.comments { border-bottom: 1px dotted rgb(204, 204, 204); font: 700 14px/14px "Open Sans Condensed",sans-serif ! important; margin: 0px 0px 10px ! important; padding-bottom: 5px; text-transform: uppercase; }
h3#reply-title { display: none; }
ul.archive li:nth-child(2n+2) { background: none repeat scroll 0% 0% rgb(246, 246, 246); }
#sidebar-wrapper { background: none repeat scroll 0% 0% rgb(255, 255, 255); float: right; margin-bottom: 10px; width: 300px; }
.sidebar-widget { float: left; font: 400 12px "Open Sans",sans-serif; margin-bottom: 30px; overflow: hidden; width: 100%; }
.side, .side-home { float: left; width: 300px; }
.sidebar-widget h3 a, .tabs h4 a { font: 700 14px/14px "Open Sans Condensed",sans-serif; text-transform: uppercase; }
.tabs h4 a:hover { text-decoration: none; }
.tabber-container { float: left; width: 300px; }
ul.tabs { display: inline; float: left; margin-bottom: -1px; width: 100%; }
ul.tabs li { border-right: 1px solid rgb(255, 255, 255); background: none repeat scroll 0% 0% rgb(0, 166, 214); color: rgb(255, 255, 255); display: inline; float: left; font: bold 12px/12px helvetica,arial,sans-serif; padding: 7px 17px; }
ul.tabs li:hover { background: none repeat scroll 0% 0% rgb(0, 219, 134); }
ul.tabs li h4 a { color: rgb(255, 255, 255); }
ul.tabs li.active { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-left: 1px solid rgb(204, 204, 204); border-right: 1px solid rgb(204, 204, 204); border-top: 1px solid rgb(204, 204, 204); position: relative; z-index: 1000; }
ul.tabs li.active:hover { background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.tabber-content { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-top: 1px solid rgb(204, 204, 204); float: left; padding-top: 10px; width: 300px; }
.tabber-content ul, .widget-content ul { display: block; float: left; width: 100%; }
.tabber-content ul li, .widget-content ul li { display: block; float: left; padding: 10px; }
.tabber-image { border: 1px solid rgb(204, 204, 204); float: left; margin-right: 10px; padding: 2px; width: 80px; height: 89px; }
.tabber-image img { transition: all 0.3s ease 0s; }
.tabber-image img:hover { opacity: 0.85; }
.tabber-text { float: left; width: 184px; }
.tabber-text p { font: 400 12px/16px "Open Sans",sans-serif; }
.middle-side { display: none; }
#footer-top-wrapper { background: none repeat scroll 0% 0% rgb(238, 238, 238); float: left; padding: 40px 0px; width: 100%; }
#footer-top { margin: 0px auto; padding: 0px 20px; position: relative; width: 960px; }
.tag-cloud { float: left; width: 100%; }
.tag-cloud a { background: none repeat scroll 0% 0% rgb(126, 132, 219); color: rgb(255, 255, 255); float: left; font: bold 12px/12px helvetica,arial,sans-serif; margin: 4px; padding: 5px; text-transform: uppercase; }
.tag-cloud a:hover { background: none repeat scroll 0% 0% rgb(0, 219, 134); text-decoration: none; }
.tag-cloud a:visited { color: rgb(255, 255, 255); }
#footer-bottom-wrapper { background: none repeat scroll 0% 0% rgb(85, 85, 85); float: left; width: 100%; }
#footer-bottom { color: rgb(170, 170, 170); font: 400 10px/14px "Open Sans",sans-serif; margin: 0px auto; padding: 10px 20px; position: relative; width: 960px; }
#footer-nav1, #footer-nav2 { float: left; margin-bottom: 5px; }
#footer-nav1 ul, #footer-nav2 ul { clear: both; display: inline; margin-bottom: 5px; }
#footer-nav1 ul li, #footer-nav2 ul li { border-right: 1px solid rgb(119, 119, 119); display: inline; float: left; margin: 0px 10px 5px 0px; padding: 3px 10px 3px 0px; }
#footer-nav1 ul li a, #footer-nav2 ul li a { color: rgb(204, 204, 204); font: 700 12px/12px "Open Sans",sans-serif; }
#copyright { float: left; padding-bottom: 10px; width: 95%; }
@media screen and (max-width: 1140px) and (min-width: 1024px) {
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
	#leader-right, #wallpaper, .ticker-heading, .ticker-date, .middle-160, #bottom-widget, .related-image, #social-box-vert, .breadcrumb { display: none; }
	#main-nav, #inner-wrapper { width: 768px; }
	#main-nav ul { padding: 0px 10px; width: 748px; }
	#main-nav ul li { padding: 11px 14px; }
	#main-nav ul li a { color: rgb(255, 255, 255); font: 700 16px/16px "Open Sans Condensed",sans-serif; text-decoration: none; text-transform: uppercase; }
	#content { padding: 20px 10px; width: 748px; }
	#header, #footer-top, #footer-bottom { width: 100%; }
	#searchform input { width: 150px; }
	#main { width: 433px; }
	#post-area { width: 420px; }
	.middle-side { display: block; }
	.post-image { width: 200px; height: 224px; }
	#footer-top-wrapper { padding: 20px 0px; }
	#footer-top, #footer-bottom { padding: 10px; }
	#footer-nav1 ul li:last-child { border: 0px none; }
}
@media screen and (max-width: 767px) and (min-width: 600px) {
	#leader-right, #wallpaper, .ticker-heading, .ticker-date, .middle-160, #bottom-widget, .tabber-image, .side, .side-home, #social-box-vert, .related-image, .archive-image, .breadcrumb { display: none; }
	#leader-left, #main-nav, #inner-wrapper { width: 600px; }
	#main-nav ul { padding: 0px 10px; width: 580px; }
	#main-nav ul li { padding: 12px 9px; }
	#main-nav ul li a { color: rgb(255, 255, 255); font: 700 14px/14px "Open Sans Condensed",sans-serif; text-decoration: none; text-transform: uppercase; }
	#content { padding: 20px 10px; width: 580px; }
	#header, #footer-top, #footer-bottom { width: 580px; }
	#searchform input { width: 100px; }
	#main, #main-home { width: 420px; }
	#post-area { width: 400px; }
	.post-image { width: 200px; height: 224px; }
	.middle-side { display: block; }
	#sidebar-wrapper, #sidebar-home-wrapper { width: 160px; }
	ul.headlines-info li { width: auto; }
	#footer-top-wrapper { padding: 20px 0px; }
	#footer-top, #footer-bottom { padding: 10px; }
	#footer-nav1 ul li:last-child { border: 0px none; }
}
@media screen and (max-width: 599px) and (min-width: 480px) {
	#leader-wrapper, #main-nav { display: none; height: 0px; margin: 0px; padding: 0px; }
	#wallpaper, #small-nav, #ticker, .middle-160, #bottom-widget, #sidebar-wrapper, #social-box-vert, .related-image, .archive-image, .side-home, .breadcrumb { display: none; }
	#nav-mobi, #nav-mobi ul { display: block; width: 480px; }
	.flip { margin-left: 10px; width: 470px; }
	#nav-mobi ul li { width: 216px; }
	#inner-wrapper, #main, #main-home { width: 480px; }
	#content { padding: 20px 10px; width: 460px; }
	#header, #footer-top, #footer-bottom { width: 460px; padding-top: 10px; }
	#logo { float: none; margin: 0px auto 10px; text-align: center; }
	#header-info { float: left; margin: 5px 0px 15px; }
	#searchform { float: right; position: relative; border: 1px solid rgb(204, 204, 204); margin: 5px 0px 15px; }
	#searchform input { width: 180px; }
	#post-area { margin: 0px 20px; width: 420px; }
	.post-image { width: 200px; height: 224px; }
	#footer-top-wrapper { padding: 20px 0px; }
	#footer-top, #footer-bottom { padding: 10px; }
	#footer-nav1 ul li:last-child { border: 0px none; }
}
@media screen and (max-width: 479px) {
	#leader-wrapper, #main-nav { display: none; height: 0px; margin: 0px; padding: 0px; }
	#wallpaper, #small-nav, #ticker, .middle-160, #bottom-widget, .category-image, .category3-image, #social-box-vert, .related-image, .archive-image, .breadcrumb, .blog-image { display: none; }
	#nav-mobi, #nav-mobi ul { display: block; padding: 0px; width: 320px; }
	.flip { margin-left: 10px; width: 310px; }
	#nav-mobi ul li { width: 136px; }
	#inner-wrapper { width: 320px; }
	#content { padding: 20px 10px; width: 300px; }
	#main-header-wrapper { text-align: center; }
	#header, #footer-top, #footer-bottom { width: 300px; padding-top: 5px; }
	#logo { float: none; margin: 0px auto 10px; max-width: 300px; text-align: center; }
	#header-info { float: left; max-width: 200px; margin: 5px 0px 15px; }
	.search-wrapper { border-top: 1px solid rgb(204, 204, 204); }
	#searchform input { width: 250px; }
	#main, #main-home { margin: 0px; padding: 0px; width: 300px; }
	ul.headlines-info li { width: auto; }
	#post-area { margin: 0px; width: 300px; }
	.post-image { margin: 0px 0px 10px; width: 294px; height: 329px; }
	#footer-top-wrapper { padding: 20px 0px; }
	#footer-top, #footer-bottom { padding: 10px; float: left; position: relative; }
	#footer-nav1 ul li:last-child { border: 0px none; float: left; }
}
.post-ratings { width: 100%; }
.post-ratings-image { border: 0px none; }
.post-ratings IMG, .post-ratings-loading IMG, .post-ratings-image IMG { border: 0px none; padding: 0px; margin: 0px; }
.b-share-popup, x:nth-child(1) { border: 0px none; padding: 1px ! important; }
@media not all {
}
.b-share-popup_down .b-share-popup__tail, x:nth-child(1) { top: -9px; background-image: url('b-share-popup_down__tail.png'); }
.b-share-popup_up .b-share-popup__tail, x:nth-child(1) { bottom: -9px; background-image: url('b-share-popup_up__tail.png'); }
@media not all {
}
.b-share-form-button::-moz-focus-inner { border: medium none; }
.size-img {
	border:1px solid #ccc;
	padding:2px;
	background-color:#FFF;}